body {
  max-width: 600px;
  margin: 0 auto;
}

.erti {
  background: pink;
  border: 3px solid blue;
  /* შეცვალე აქ */
  padding: 0px;
  margin: 0px;
}

.ori {
  background: lightblue;
  border: 3px solid purple;
  /* შეცვალე აქ */
  margin-bottom: 0px;
}

.sami {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* შეცვალე აქ */
  padding: 0px;
  margin-left: 0px;
}