.kenti {
  background-color: rgb(255, 167, 167);
  font-family: Calibri, "DejaVu Sans", sans-serif;
}

.msgavsi-zoma {
  font-size: 24px;
}

#ori {
  color: #0000ff;
  font-size: 36px;
}

/*
    ქვედა ID სელქტორში 'otxi'-ში შეგვეძლო ასევე დაგვემატებინა
    სტილი, რომელიც დაადებდა ფონტის ზომას 24 პიქსელს. 

    მაგრამ, რადგანაც ელემენტები 'ნომერი 3' და 'ნომერი 4'
    HTML ფაილში იზიარებენ ერთნაირ ფონტის ზომას, ჩვენ
    გავიტანეთ ეს ცალკე კლასად 'msgavsi-zoma' და დავადეთ
    ელემენტებს, რადგან აქ კოდის გამეორება არ დაგვჭირვებოდა.

*/
#otxi {
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}