.shebrunebuli,
.mdidruli {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.shebrunebuli {
  background-color: black;
  color: white;
}

.mdidruli {
  background-color: yellow;
}